<div class="product-detail">
  <button (click)="goBack()" class="back-btn">
    <i class="fas fa-arrow-left"></i>
  </button>
  <div class="product-content">
    <div class="product-image">
      <img [src]="product.image" [alt]="product.title" class="image" />
    </div>

    <div class="product-info">
      <h2 class="product-title">{{ product.title }}</h2>
      <p class="product-price">${{ product.price }}</p>

      

      <p class="product-description">{{ product.description }}</p>
      <div class="product-rating">
        <ng-container *ngFor="let star of getStars(product.rating.rate)">
          <i [ngClass]="star.filled ? 'fas fa-star' : 'far fa-star'"></i>
        </ng-container>
        <p class="product-reviews">
          {{ product.rating.count }} Reviews
        </p>
      </div>
      <div class="add-to-cart-icon" onclick="addToCart()">
        <span class="icon">+</span>
      </div>
    </div>
  </div>

  <div class="related-products">
    <h3>You May Like</h3>
    <div class="product-cards">
      <app-product-catalog [category]="product.category"></app-product-catalog>
    </div>
  </div>
</div>
